<template>
  <v-dialog :value="show" width="500" @input="close">
    <v-card>
      <v-card-title>
        Error
      </v-card-title>
      <v-card-text>
        There was an error loading the image
      </v-card-text>
      <v-divider></v-divider>
      <v-card-actions>
        <v-spacer></v-spacer>
        <v-btn color="primary" text @click="close">
          Ok
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'ErrorDialog',
  props: {
    show: {
      type: Boolean,
      default: false,
    },
    callback: {
      type: Function,
      default: () => {},
    },
  },
  methods: {
    close() {
      this.$emit('input')
      this.callback()
    },
  },
}
</script>
