<template>
  <v-dialog :value="show" persistent width="300" @input="$emit('input')">
    <v-card color="primary" dark>
      <v-card-text>
        Loading...
        <v-progress-linear
          indeterminate
          color="white"
          class="mb-0"
        ></v-progress-linear>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script>
export default {
  name: 'LoadingDialog',
  props: {
    show: {
      type: Boolean,
      default: false,
    },
  },
}
</script>
