<template>
  <div class="panzoom-container">
    <div class="panzoom">
      <slot></slot>
    </div>
  </div>
</template>

<script>
import panzoom from 'panzoom'
export default {
  name: 'ImagePreviewPage',
  layout: 'empty',
  data: () => ({
    container: undefined,
    element: undefined,
    instance: undefined,
    debounce: undefined,
    resizeDebounce: undefined,
  }),
  mounted() {
    this.container = this.$el
    this.element = this.$el.querySelector('.panzoom')
    this.instance = panzoom(this.element, {
      minZoom: 1,
      maxZoom: 5,
      smoothScroll: false,
    })
    window.instance = this.instance
    this.instance.on('zoom', (e) => {
      if (this.debounce) {
        clearInterval(this.debounce)
      }
      this.debounce = setTimeout(() => {
        this.validateBounds(e)
      }, 100)
    })
    this.instance.on('zoomend', (e) => {
      this.validateBounds(e)
    })
    this.instance.on('panend', (e) => {
      // HACK TO STOP ACCELERATION AND CATCH PAN ENDING CORRECTLY
      this.instance.pause()
      this.instance.resume()
      this.validateBounds(e)
    })
    window.addEventListener('resize', this.onResize)
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.onResize)
  },
  methods: {
    onResize() {
      if (this.debounce) {
        clearInterval(this.resizeDebounce)
      }
      this.resizeDebounce = setTimeout(() => {
        const { x, y, scale } = this.instance.getTransform()
        this.instance.moveBy(-x, -y)
        this.instance.smoothZoom(0, 0, -scale)
      }, 300)
    },
    validateBounds(e) {
      const { width, height } = this.element.getBoundingClientRect()
      const { x, y } = e.getTransform()
      const {
        width: pWidth,
        height: pHeight,
      } = this.container.getBoundingClientRect()
      let moveX = 0
      let moveY = 0
      if (x > 0) {
        moveX = -x
      }
      if (width + x < pWidth) {
        moveX = pWidth - (width + x)
      }
      if (y > 0) {
        moveY = -y
      }
      if (height + y < pHeight) {
        moveY = pHeight - (height + y)
      }
      if (x || y) {
        e.moveBy(moveX, moveY, true)
      }
    },
  },
}
</script>

<style scoped>
.panzoom-container {
  overflow: hidden;
  padding: 0px;
  border: 1px solid rgb(51, 51, 51);
  width: 100%;
}
.image {
  width: 100%;
}
</style>
