<template>
  <div>
    <v-dialog :value="value" width="100%" max-width="800px" @input="close">
      <v-card>
        <v-container fluid>
          <v-row align="center" justify="center">
            <v-col v-if="prevImage" align="start" justify="center">
              <v-icon dark large @click="prevImage">mdi-chevron-left</v-icon>
            </v-col>
            <v-col v-if="nextImage" align="end" justify="center">
              <v-icon dark large @click="nextImage">mdi-chevron-right</v-icon>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <PanZoom>
                <v-img
                  :src="image.full_picture"
                  :alt="image.title"
                  width="100%"
                  contain
                >
                  <template v-slot:placeholder>
                    <v-row
                      class="fill-height ma-0"
                      align="center"
                      justify="center"
                    >
                      <v-progress-circular
                        indeterminate
                        color="grey lighten-5"
                      ></v-progress-circular>
                    </v-row>
                  </template>
                </v-img>
              </PanZoom>
            </v-col>
          </v-row>
        </v-container>
        <v-card-actions>
          <v-container>
            <v-row
              align="end"
              class="lightbox white--text"
              justify="space-between"
            >
              <v-col>
                <div>Author: {{ image.author }}</div>
                <div>Camera: {{ image.camera }}</div>
              </v-col>
              <v-col align="end" justify="center">
                <v-btn color="green" text @click="showShareDialog = true">
                  Share url
                </v-btn>
              </v-col>
            </v-row>
            <v-row align="center" justify="space-between">
              <v-col lg="10" sm="12">
                <v-chip
                  v-for="tag in image.tags"
                  :key="tag"
                  class="imageTag"
                  color="pink"
                  label
                  text-color="white"
                >
                  <v-icon left>mdi-label</v-icon>
                  {{ tag }}
                </v-chip>
              </v-col>
            </v-row>
          </v-container>
        </v-card-actions>
      </v-card>
    </v-dialog>
    <v-dialog v-model="showShareDialog" max-width="500px">
      <v-card>
        <v-container>
          <v-row>
            <v-col>
              <span class="url">{{ url }}</span>
            </v-col>
          </v-row>
          <v-card-actions>
            <v-btn color="green" text target="_blank" :href="url">
              Open
            </v-btn>
            <v-btn color="green" text @click="share">
              Share
            </v-btn>
          </v-card-actions>
        </v-container>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
import PanZoom from '@/components/PanZoom'

export default {
  components: {
    PanZoom,
  },
  props: {
    value: { type: Boolean, default: false },
    prevImage: { type: Function, default: undefined },
    nextImage: { type: Function, default: undefined },
    image: {
      type: Object,
      default: () => ({}),
    },
    callback: {
      type: Function,
      default: () => {},
    },
  },
  data: () => ({
    showShareDialog: false,
  }),
  computed: {
    url() {
      if (this.image) {
        return `${process.env.HOST}/view?id=${this.image.id}`
      }
      return ''
    },
  },
  methods: {
    close() {
      this.$emit('input', false)
      this.showShareDialog = false
      this.callback()
    },
    share() {
      if (!navigator.share) {
        return
      }
      navigator.share({
        title: `Check this photo`,
        text: `by: ${this.image.author}`,
        url: this.url,
      })
    },
  },
}
</script>

<style scoped>
.image {
  width: 100%;
}
.imageTag {
  margin: 5px;
}
.tooltip {
  padding: 20px;
}
</style>
