<template>
  <v-app dark>
    <v-app-bar app color="indigo" dark>
      <v-toolbar-title>AgileEngine Test</v-toolbar-title>
    </v-app-bar>
    <v-main>
      <nuxt />
    </v-main>
    <v-footer app>
      <span>&copy; {{ new Date().getFullYear() }}</span>
    </v-footer>
  </v-app>
</template>
