<template>
  <v-layout>
    <v-card :loading="loading" width="100%">
      <v-container>
        <v-row>
          <v-col
            v-for="(image, index) in actualPage"
            :key="image.id"
            xm="6"
            md="3"
            xl="2"
          >
            <v-card flat tile class="d-flex">
              <v-img
                :src="image.cropped_picture"
                width="100%"
                contain
                @click="showImage(image.id, index)"
              >
                <template v-slot:placeholder>
                  <v-row
                    class="fill-height ma-0"
                    align="center"
                    justify="center"
                  >
                    <v-progress-circular
                      indeterminate
                      color="grey lighten-5"
                    ></v-progress-circular>
                  </v-row>
                </template>
              </v-img>
            </v-card>
          </v-col>
        </v-row>
      </v-container>
      <v-pagination
        v-model="page"
        :length="pageCount"
        total-visible="7"
      ></v-pagination>
    </v-card>
    <ViewDialog
      v-model="showImageDialog"
      :prev-image="prevImage"
      :next-image="nextImage"
      :image="actualImage"
    ></ViewDialog>
    <LoadingDialog :show="showLoadingDialog"></LoadingDialog>
    <ErrorDialog :show="showErrorDialog"></ErrorDialog>
  </v-layout>
</template>

<script>
import { getPage, getImage } from '@/utils/api'

import ViewDialog from '@/components/ViewDialog'
import LoadingDialog from '@/components/LoadingDialog'
import ErrorDialog from '@/components/ErrorDialog'

export default {
  name: 'ImagePreview',
  components: {
    ViewDialog,
    LoadingDialog,
    ErrorDialog,
  },
  data: () => ({
    page: undefined,
    pageCount: undefined,
    pages: {},
    images: {},
    actualPage: [],
    actualImage: undefined,
    index: undefined,
    loading: false,
    showLoadingDialog: false,
    showImageDialog: false,
    showErrorDialog: false,
  }),
  watch: {
    page(page) {
      this.$router.push(`/?page=${page}`)
      this.showPage(page)
    },
  },
  mounted() {
    const { page = 1 } = this.$route.query
    this.page = parseInt(page, 10)
  },
  methods: {
    showPage(page) {
      this.loading = true
      this.showLoadingDialog = true
      if (this.pages[page]) {
        this.actualPage = this.pages[page]
        this.loading = false
        this.showLoadingDialog = false
        return
      }
      getPage(page)
        .then(({ pageCount, pictures }) => {
          this.loading = false
          this.showLoadingDialog = false
          this.pageCount = pageCount
          this.pages[page] = pictures
          this.actualPage = pictures
        })
        .catch(() => {
          this.showErrorDialog = true
          this.loading = false
          this.showLoadingDialog = false
        })
    },
    prevImage() {
      const i = Math.max(0, this.index - 1)
      if (i !== this.index) {
        this.showImageDialog = false
        const id = this.actualPage[i].id
        this.showImage(id, i)
      }
    },
    nextImage() {
      const i = Math.min(this.index + 1, this.actualPage.length - 1)
      if (i !== this.index) {
        this.showImageDialog = false
        const id = this.actualPage[i].id
        this.showImage(id, i)
      }
    },
    showImage(id, index) {
      this.showLoadingDialog = true
      if (this.images[id]) {
        this.actualImage = this.images[id]
        this.index = index
        this.showLoadingDialog = false
        this.showImageDialog = true
        return
      }
      getImage(id)
        .then((image) => {
          this.images[id] = image
          this.images[id].tags = this.images[id].tags.trim().split(' ')
          this.actualImage = this.images[id]
          this.index = index
          this.showLoadingDialog = false
          this.showImageDialog = true
        })
        .catch(() => {
          this.showLoadingDialog = false
          this.showErrorDialog = true
          this.error = true
        })
    },
  },
}
</script>
