<template>
  <v-layout column justify-center align-center>
    <ViewDialog
      v-model="showImageDialog"
      :image="image"
      :callback="redirect"
    ></ViewDialog>
    <LoadingDialog :show="showLoadingDialog"></LoadingDialog>
    <ErrorDialog :show="showErrorDialog" :callback="redirect"></ErrorDialog>
  </v-layout>
</template>

<script>
import { getImage } from '@/utils/api'

import ViewDialog from '@/components/ViewDialog'
import LoadingDialog from '@/components/LoadingDialog'
import ErrorDialog from '@/components/ErrorDialog'

export default {
  name: 'ImagePreview',
  components: {
    ViewDialog,
    LoadingDialog,
    ErrorDialog,
  },
  data: () => ({
    showErrorDialog: false,
    showLoadingDialog: false,
    showImageDialog: false,
    image: undefined,
  }),
  mounted() {
    const { id } = this.$route.query
    if (!id) {
      this.showErrorDialog = true
      return
    }
    this.showImage(id)
  },
  methods: {
    showImage(id) {
      this.showLoadingDialog = true
      getImage(id)
        .then((image) => {
          this.image = image
          this.image.tags = this.image.tags.split(' ')
          this.showLoadingDialog = false
          this.showImageDialog = true
        })
        .catch(() => {
          this.showLoadingDialog = false
          this.showErrorDialog = true
        })
    },
    redirect() {
      this.$router.push('/')
    },
  },
}
</script>
